/HomeWork/nbproject/private/
/HomeWork/build/
/If else/nbproject/private/
/If else/build/
/HomeWork2/nbproject/private/
/HomeWork2/build/
/BaiTap3/nbproject/private/
/BaiTap3/build/
/bai3kho/nbproject/private/
/bai3kho/build/
/JavaApplication7/nbproject/private/
/JavaApplication7/build/
/JavaApplication8/nbproject/private/
/JavaApplication8/build/
/Btvnxxx/nbproject/private/
/Btvnxxx/build/
/Btvnxxx2/nbproject/private/
/Btvnxxx2/build/
/Les7/nbproject/private/
/Les7/build/
/Les7/dist/
/Les7.2/nbproject/private/
/Les7.2/build/
/Les7.3/nbproject/private/
/Les7.3/build/
/JavaApplication14/nbproject/private/
/JavaApplication14/build/
/Ham/nbproject/private/
/Ham/build/
/Ham.2/nbproject/private/
/Ham.2/build/
/Sapxepkitu/nbproject/private/
/Sapxepkitu/build/
/JavaApplication18/nbproject/private/
/JavaApplication18/build/
/GGG/nbproject/private/
/GGG/build/
/GameX/nbproject/private/
/GameX/build/
/JavaApplication21/nbproject/private/
/GameXX/nbproject/private/
/GameXX/build/